<div style="min-height: 100px;">
  <div class="clr-row clr-justify-content-center" *ngIf="asset.Id===0">
      <div class="clr-col-12"><h4>Loading...</h4></div>
  </div>
  <div class="clr-row clr-justify-content-center" *ngIf="asset.Id!==0">
    <div class="clr-col-3">Brand</div>
    <div class="clr-col-5">{{(asset.BrandCode | fbrand : asset.BrandCode).Name}}</div>
    <div class="clr-col-4"></div>
    <div class="clr-col-3">Name</div>
    <div class="clr-col-5">{{asset.Name}}</div>
    <div class="clr-col-4"></div>
    <div class="clr-col-3">Type</div>
    <div class="clr-col-5">{{(asset.TypeCode | ftype : asset.TypeCode).Name}}</div>
    <div class="clr-col-4"></div>
    <div class="clr-col-3">Rack</div>
    <div class="clr-col-5">{{(asset.RackCode | frack : asset.RackCode).Name}} On Line
      {{(asset.RackCode | frack : asset.RackCode).Line}}</div>
    <div class="clr-col-4"></div>
  </div>
</div>